.text {
  --delay: 0s;
}

.letter {
  /* animation-delay: calc(var(--delay) * 1s); */
  opacity: 0;
  animation: fade 0.5s cubic-bezier(0.19, 0.63, 0.29, 1.25) calc(var(--delay) * 0.03s);
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.space {
  width: 0.5ch;
}
span {
  display: inline-block;
}
